.mainContainer {
  min-width: 200px;
  min-height: 200px;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 3px;
  box-sizing: border-box;
}
.containerHeader {
  padding: 5px;
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 4px 4px 0px 0px;
}
.inputArea {
  min-height: 200px;
  padding: 5px;
}
.btn2 {
  border: 1px solid #eee;
  padding: 5px 5px;
  margin: 2px;
  background-color: #ccf;
  border-radius: 3px;
  min-width: 21px;
  cursor: pointer;
}
.charCountContainer {
  float: right;
}
.charCountContainer .charCountInput {
  max-width: 55px;
}
.charCountContainer .charCountCkBox {
  vertical-align: middle;
  margin: 0px;
  margin-right: 4px;
}
